# LLM API Keys
VN_TONGYI_API_KEY=
VN_DEEPSEEK_API_KEY=
VN_LLM_PROVIDER=tongyi

# Embedding
VN_EMBEDDING_API_KEY=

# Transcribe (Bjian)
VN_BJIAN_APP_ID=
VN_BJIAN_ACCESS_TOKEN=

# Whisper
VN_WHISPER_MODEL_SIZE=medium
VN_WHISPER_DEVICE=auto